.nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    padding: 20px;
    height: 30px;
    z-index: 100;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;

}

.nav__black{
    background-color: black;
}

.profileDet{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.profileName{
    color: white;
    font-size: large;
    font-weight: bold;
}
/*

.nav__logo, .nav__avatar{
    position: fixed;
}

*/

.nav__logo{
    width: 105px;
    object-fit: contain;
    
    cursor: pointer;
}

.setProfile{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 8px 0px;
    
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    top: 5rem;
}
.uprof{
    padding: 5px 10px;
    transition: all ease-in;
}

.uprof:hover{
    background-color: rgb(216, 216, 216);
}

.nav__avatar{
    
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

